@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
@tailwind base;
@tailwind components;
@tailwind utilities;

*>*{
    font-family: 'Poppins',sans-serif
}

.input-text{
    @apply mt-1 border-slate-300 shadow-sm placeholder-slate-500 rounded-full text-sm block w-60 px-3 py-2 bg-white;
    @apply focus:outline-none focus:ring-1 focus:border-sky-500;
}

.spinner{
    @apply border-gray-200 rounded-full border-4 ease-linear w-10 h-10;
            border-top-color:#363ce0;
            animation: spinner 1.2s linear infinite;

}

@keyframes spinner {
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
}